// CMS ira-rollover page
.cms-ira-rollover {
	.breadcrumbs{
		display: none;
	}
	.row{
		margin-right: -15px;
		margin-left: -15px;
	}
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	font-family: "lato";
	.iratopsection{
		background: url('../Magento_Theme/images/ira-rollover-header.jpg');
		width:100%;
		min-height: 400px;
		background-size:cover;
		.ira-center-content{
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			float:left;
			display: -webkit-box;
			display: moz-box-flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			-webkit-box-align: center;
			-moz-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content:center;
			width:100%;
			min-height:400px;
			h1{
				color: #fff;
				font-size: 39px !important;
				font-weight: bold;
			}
		}
	}
	.wrapper-irarollover{
		padding:40px 50px 10px 50px;
		h2{
			text-transform: uppercase;text-align: center; font-size: 18px;
		}
		p {
			font-size: 16px; padding-bottom: 25px;
		}
		.ira-coin-image{
			background:url('../Magento_Theme/images/coin-stack.jpg') ;
			background-repeat: no-repeat;
			min-height: 400px ; 
			width:100%; 
			background-position: center; 
			background-size: contain;
		}
		.center-content-page .col-sm-4{ 
			text-align: center;
			a {
				color: #e08f66;
				.round-section-ira{
					padding:50px 40px;
					max-height:270px;max-width:270px;
					margin-bottom:5%;
					background-color: #E88850; border-radius: 50%;
					min-height: 270px;
					transition: all .2s ease-in-out;
					cursor: pointer;
					display:inline-block;
					p { 
						color:#fff;
						text-align:center;
						font-size: 16px;
					}
					.circle-title{ 
						padding-bottom:20px;
						color:#fff; 
						text-transform: uppercase;
						text-align: center;
						line-height: 22px;
						font-size:18px;
					}
				}
				.round-section-ira:hover {
					transform: scale(1.1);-webkit-transform:scale(1.1);
				}
			}
		}
		.table-top-heading-ira{
			font-size:24px !important;
		}
		.table-bordered{
			color: #000;
			thead{
				tr{
					th{
						border: 1px solid #7F7F7F;
					}
				}
			}
		}
		table th {
			text-transform: uppercase;
			background: #7F7F7F;
			vertical-align: middle !important;
			height:50px;
			text-align: center;
			font-size:20px;
			color:#fff;
		}
	}
}	

// End CMS ira-rollover page


// CMS buy-gold-silver-texas page
.cms-buy-gold-silver-texas {
	font-size: 1.29em;
	a.iframe{
		color: white;
	}
	.breadcrumbs{
		display: none;
	}
	.table-payment-chart tr th{
		background-color: #c40;
	}
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	.page-header{
		z-index: 5;
		position: relative;
	}
	.table-payment-chart td{
		border: 1px solid #BFC0C1;
		font-size: 11px;
		padding: 10px;
		text-transform: uppercase;
	}
	.table-payment-chart th{ 
		background-color: #e08e66;
		border: 1px solid #BFC0C1;
		color: #fff;
		padding: 10px;
		text-transform: uppercase;
		text-align: center;
		font-size:11px;
	}
	.table-payment-chart{
		margin-top:80px;
	}
	.round-circle-sellback {
		border-radius: 50%;
		margin: 0 auto;
		min-height: 300px;
		text-align: center;
		width: 300px;
		padding: 50px 35px;
		background-color: #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	.money-icon {
		background: url("../Magento_Theme/images/money-icon.png");
		min-height: 200px;
		min-width: 200px;
		background-size: contain;
		top: 100px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.shipping-icon {
		background: url("../Magento_Theme/images/10301-box-opened-icon.png");
		min-height: 200px;
		min-width: 200px;
		background-size: contain;
		top: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.ouroperation-icon {
		background: url("../Magento_Theme/images/operations-icon.png");
		min-height: 200px;
		min-width: 200px;
		background-size: contain;
		top: 143px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.control{
		margin: 70px 0 0;
	}
	.howtoorder-page .title{
		background-color: white;
	}
	.row{
		margin-left: -15px;
		margin-right: -15px;
	}
	.howtoorder-page .parallax:first-child{
		height: 100vh;
		min-height: 568px;
	}
}
// End CMS buy-gold-silver-texas page

// CMS about-texas-precious-metals page
.cms-about-texas-precious-metals{
	ul>li{
		margin-bottom: 0;
	}
	h1{
		margin-bottom: 0;
	}
	.breadcrumbs{
		display: none;
	}
	.logo{
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
	}
	.container-equal-box-2{
		.logo{
			margin: 0;
		}
	}
	.little-box h1{
		margin-bottom: 0;
	}
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	.row{
		margin-right: :0;
		margin-left: 0;
	}
	#home-projects ul span.title{
		font-weight: 400;
	}
	#home-projects ul li a img{
		opacity: 1;
	}
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cms-about-texas-precious-metals{
		.container-equal-box-2{
			.logo{
				margin: 0;
			}
		}
	}
}

.cms-about-texas-precious-metals{
	#home-projects ul a{
		line-height: 18px;
	}
}
// End CMS about-texas-precious-metals page

.page-title {
	width: 100%;
	margin: 0 0 25px;
}

// CMS patriot-act, and etc page
.cms-patriot-act, .cms-terms-conditions, .cms-privacy-policy, .cms-ira-rollover{
	p{
		margin: 0 0 0em;
		padding: 0;
	}
}
// End CMS patriot-act, and etc page

// CMS trademarks page
.cms-trademarks{
	p{
		margin: 0 0 0em;
	}
}
// End CMS trademarks page

// CMS policies-procedures page

.cms-policies-procedures{
	.disc{
		padding-left: 18px;
		margin: 0 0 10px;
		li{
			margin: 0;
			padding: 0;
		}
	}
}
// End CMS policies-procedures page

// CMS disclaimer page
.cms-disclaimer{
	.page-title{
		margin: 0 0 25px;
	}
	p{
		margin: 0 0 0em;
		padding: 0;
	}
}

// CMS about texas page
.cms-about-texas-precious-metals .right{
	float: right;
}

//featured-in
#featuredin_section .container:hover .lSAction{
	display: block !important;
}
.carouFredSel {
	.lSPager.lSpg{
		display: none;
	}
	.lSSlideWrapper{
		position: static;
		.lSAction{
			opacity: 0.5;
			position: absolute;
			right: 0;
			bottom: 70px;
			cursor: pointer;
			display: none !important;
			color: #e08f66;
			.lSPrev{
				all:unset;
			}
			a.lSPrev:hover{
				color: #ee3b27;
				}
			.lSPrev:before{
				font-family: icomoon;
				font-size: 26px!important;
				display: inline-block;
				content: '\e078';
			}
			.lSNext{
				all:unset;
			}
			a.lSNext:hover{
					color: #ee3b27;
				}
		}
		.lSNext:before{
			font-family: icomoon;
			font-size: 26px!important;
			display: inline-block;
			content: '\e07b';
		}
	}
}


//global styling
.columns .column.main{
	width: 100%;
	padding-bottom: 0;
}
.page-bottom{
	display: none;
}

//sell-gold-coins page {
.cms-sell-gold-coins{
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
}

//payment-methods page
.cms-payment-methods{
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	.breadcrumbs{
		display: none;
	}
	h1{
		margin-bottom: 0;
		font-size: 2.46em;
	}
	#cms_margin{
		width: 94%;
	}
	.page-bottom{
		display: none;
	}
	.column.main{
		padding-bottom: 0;
	}
}

//anti-money-laundering page
.cms-anti-money-laundering{
	.breadcrumbs{
		display: block;
		width: 94% !important;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 30px;
		margin-top: 12px;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.page-bottom{
		display: none;
	}
	.column.main{
		padding-bottom: 0;
	}
	#maincontent{
		width: 94%;
		padding-left: 0;
		padding-right: 0;
	}
}

//patriot-act page and else
.cms-patriot-act, .cms-policies-procedures, .cms-terms-conditions, .cms-privacy-policy{
	.breadcrumbs{
		display: block;
		width: 94% !important;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 30px;
		margin-top: 12px;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	.page-bottom{
		display: none;
	}
	.column.main{
		padding-bottom: 0;
	}
	#cms_margin{
		width: 94%;
	}
	.page-title-wrapper{
		width: 94%;
		margin-left: auto;
		margin-right: auto;
	}
}

.cms-disclaimer{
	.breadcrumbs{
		display: block;
		width: 94% !important;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 30px;
		margin-top: 12px;
		padding-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.page-bottom{
		display: none;
	}
	.column.main{
		padding-bottom: 0;
	}
	#maincontent{
		width: 94%;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.cms-terms-conditions, .cms-privacy-policy{
	.page-title{
		margin-bottom: 25px;
	}
}

.cms-privacy-policy{
	#maincontent{
		padding-top: 0;
	}
}

.cms-trademarks{
	.breadcrumbs{
		display: none;
	}
	.tradamark-center-content{
		h1{
			font-size: 2.46em;
			margin-bottom: 0;
		}
	}
	#maincontent{
		padding-left: 0;
		padding-right: 0;
	}
	.page-bottom{
		display: none;
	}
	.column.main{
		padding-bottom: 0;
	}
}

.cms-sell-gold-coins{
	.breadcrumbs{
		display: none;
	}
	.sell-to-us-page{
		.row{
		padding: 0 42px;
	}
	.parallax{
		height: 100vh !important;
	}
}
	.lslide img{
		height: 100vh;
		width: auto;
		min-height: 768px;
		max-width: 1309px;
	}
}

//Bacome Dealer Pages
.cms-become-a-registered-texas-precious-metals-dealer{
	p{
		padding: 10px 0px;
	}
	.webforms-success-text{
		border: none;
		background: transparent;
		padding: 0;
		margin: 0;
	}
	.breadcrumbs{
		display: none;
	}
	.sliderright-dealerpage{
		z-index: -1;
	}
	.lslide img{
		height: 100vh;
		width: auto;
		min-height: 768px;
		max-width: 1900px;
	}
	.firstul-becomedealer li{
		margin-bottom: 0;
	}
	label{
		font-weight: 400;
		margin-bottom: 7px;
	}
	.fieldset>.field .choice input{
		margin-top: 10px;
	}
	// .control>div{
	// 	margin: .5em 0;
	// 	padding: 10px;
	// }
	.downloadsection-becomedealer {
		margin-bottom: 30;
	}
	.terms-condition-dealer-form{
		.control label{
			width: 90%;
		}
	}
	.fieldset{
		.field{
			label.label{
				font-weight: 400;
				margin-bottom: 7px;
				&:after{
					margin-left: 0;
				}
			}
		}
	}
	#maincontent{
		padding-right: 0;
		padding-left: 0;
	}
	.form-becoma-dealer{
		.subtitle-1, .subtitle-2, .subtitle-5, .subtitle-6, .subtitle-7, .subtitle-8, .subtitle-9, .subtitle-10, .subtitle-11, .subtitle-12, .subtitle-13, .subtitle-15, .subtitle-16, .subtitle-18, .subtitle-20, .subtitle-21, .subtitle-22, .subtitle-23, .subtitle-24, .subtitle-28, .subtitle-29{
			width: 211px;
			margin-bottom: 8px;
			display: inline-block;
			float: left;
		}
		.title-1{
			h3.legend{
				padding: 0 0 1.3em;
				text-transform: uppercase;
				color: #cc4c25;
				font-size: 24px;
				margin: 50px 0;
				text-align: center;
				border: none;
				position: relative;
				width: 100%;
				margin-bottom: 5px;
			}
			.subtitle-3, .subtitle-4{
				float: left;
				.control{
					>div{
						padding: 10px;
						margin-bottom: .5em 0;
					}
				}
			}
		}
		.title-2, .title-3, .title-4, .title-5, .title-6{
			.legend{
				margin: 0;
				padding: 0 0 1.3em;
				margin-bottom: 5px;
				border: none;
				font-size: 16px;
				color: #000;
			}
		}
		.subtitle-3, .subtitle-5, .subtitle-19{
			clear: left;
		}
		.subtitle-25, .subtitle-27{
			.field.choice{
				margin: .5em 0;
				padding: 10px;
				label{
					width: 90%;
				}
			}
		}
		.subtitle-28{
			float: left;
		}
	}
	.control{
		margin-right: 15px;
	}
	.actions-toolbar>.primary{
		text-align: left;
	}
	.actions-toolbar>.primary .action{
		max-width: 74px;
	}
}

//Contact Us
.cms-contact-us{
	.page-wrapper>.breadcrumbs{
		width: 94%;
    padding-left: 0;
    padding-right: 0;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
	}
	#maincontent{
		width: 94%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
	}
	.container.contacts{
		margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
	}
	.col-md-4, .col-md-8{
		padding: 0;
	}
	.actions-toolbar>.primary{
		text-align: left;
	}
	.actions-toolbar>.primary .action{
		max-width: 74px;
	}

	.fieldset>.legend{
		font-size: 16px;
		margin-bottom: 5px;
		font-weight: 400;
		padding-bottom: 1.3em;
		border-bottom: none;
		width: 100%;
	}
	.fieldset{
		.field{
			label.label{
				font-weight: 400;
				margin-bottom: 7px;
				&:after{
					margin-left: 0;
				}
			}
		}
	}
	.webforms-fields-54{
		textarea{
			height: 10em;
		}
	}
	.webforms-success-text{
		border: none;
		background: transparent;
		font-size: 12px;
	}
}

//footer
.page-footer{
	margin-top: 0 !important;
	.footer.content{
		overflow: auto;
		padding: 25px 0 0 0;
		padding-top: 20px !important;
		width: 95%;
		padding-bottom: 0 !important;
		ul{
			padding-right: 0;
		}
	}
	.contact{
		width: 20%;
		margin-left: 5%;
	}
	.block.newsletter{
		width: 20%;
		.title{
			display: block;
			h3{
				padding-bottom: 0;
				text-transform: uppercase;
			}
		}
		.actions{
			display: none;
		}
		.field{
			.control{
				margin: 0;
				&:before{
					display: none;
				}
			}
		}
		.content{
			p{
				display: none;
			}
			.find-us{
				.divider{
					margin-right: 3px;
				}
				.icon{
					color: gray;
				}
			}
		}
	}
	#newsletter-validate-detail{
		input{
			padding: 0 12px;
			width: 100%;
			border-radius: 4px;
		}
		.form-group{
			width: 100%;
			.button{
				box-shadow: none;
				right: 8px;
				bottom: 2px;
				&:hover{
					box-shadow: none;
					transform: none;
				}
			}
		}
	}
	a{
		color: gray !important;
	}
	.logo{
		width: 15%;
		padding-right: 4%;
		img{
			width: 100%;
		}
	}
	ul{
		padding: 0;
	}
	.col-md-3{
		width: 20%;
	}
	.col-sm-4{
		width: 100%;
		text-align: center;
		img{
			height: 40px;
			margin: 0 10px;
			background-color: gray;
			margin-top: 50px;
		}
	}
	h3{
		color: gray;
	}
	.wrapper-contactinfo{
		div{
			color: gray !important;
		}
	}

}
.copyright{
	padding: 0;
	background-color: #f4f4f4 !important;
	color: gray !important;
	padding-top: 10px;
	padding-bottom: 10px;
	div{
		max-width: 200px;
		margin: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.page-footer{
		.content{
			.number.info{
				font-size: 19px !important
			}
			.info{
				font-size: 11px !important
			}
		}
		.block.newsletter{
			.content{
				padding-top: 0 !important
			}
		}
	}
}

@media(min-width:768px) {
//footer
	.page-footer{
		padding-bottom: 0 !important;
		.collapsed-block{
			.tabBlock{
				display: block !important;
			}
		}
		.block.newsletter{
			.content{
				display: block !important;
			}
		}
	}

	//CMS Pages
	.cms-about-texas-precious-metals{
		#home-projects{
			.title{
				line-height: 16.4px;
				width: 76%;
			}
		}
	}
}


@media(max-width:767px) {
	.carouFredSel .lSSlideWrapper .lSAction{
		bottom: 50px;
	}
	.cms-about-texas-precious-metals{
		.logo{
			max-width: unset;	
		}
		#home-projects ul li a img{
			display: none;
		}
	}
	.cms-sell-gold-coins{
		p{
			font-size: 12px;
		}
	}

	//footer
	.page-footer{
		padding-bottom: 0;
		.footer.content{
			padding-top: 10px !important;
			border-top: none;
		}
		.contact{
			margin-left: 0;
		}
		.col-md-3{
			width: 100%;
		}
		.content{
			padding-top: 10px !important;
			margin: auto;
		}
		background-color: #f4f4f4;
		.find-us{
			margin-top: 10px;
		}
		.divider{
			span{
				color: gray;
			}
		}
		.logo{
			display: none;
		}
		.collapsed-block{
			border-bottom: 1px solid #e7e7e7;
			padding-top: 15px;
			margin: 0;
			width: 100%;
			margin-bottom: 0;
			padding-right: 0;
		}
		h3.active{
			&:before{
				content: '−';
			}
		}
		.menu{
			li{
				margin-left: 0;
				padding: 0 0 10px;
			}
		}
		h3{
			&:before{
			content: '+';
			position: absolute;
			right: 2.7%;
			font-size: 20px;
			}
		}
		.contact{
			.menu{
			}
		}
		.block.newsletter{
			width: 100%;
			padding: 15px 15px 0 15px;
			margin-bottom: 0;
			border-bottom: 1px solid #e7e7e7;
			.form-group.input-control{
				display: block;
				width: 260px !important;
			}
			.field{
				.control{
					width: 260px;
					display: none;
				}
			}
			.title{
				margin-bottom: 15px;
			}
			.content{
				display: none;
				padding: 0 !important;
				.field.newsletter{
					margin-bottom: 15px;
				}
				p{
					display: block;
					margin-bottom: 1em;
					color: gray;
				}
				.find-us{
					display: block;
					padding-top: 5px;
					.divider{
						margin-bottom: 10px;
						margin-right: 15px;
					}
				}
			}
			h3{
				padding-bottom: 0.5rem;
				text-transform: uppercase;
				&:before{
					content: '+';
					position: absolute;
					right: 5%;
					font-size: 20px;
				}
			}
			h3.active{
				&:before{
					content: '−';
				}
			}
		}
		.tabBlock{
			display: none;
		}
	}
	.copyright{
		padding: 25px 0 !important;
		background-color: #f4f4f4 !important;
		color: gray !important;
		div{
			max-width: 70%;
		}
	}
}

@media(max-width:991px) {
	.cms-buy-gold-silver-texas{
		.module{
			margin-bottom: 35px;
		}
	}
}

@media(max-width:479px){
	.cms-buy-gold-silver-texas{
		.howtoorder-page .parallax:first-child{
			height: 100vh;
			min-height: 241px;
		}
	}
	.cms-about-texas-precious-metals{
		#home-projects ul li a{
			line-height: 64px !important;
		}
	}
}


@media(max-width:360px){
	.cms-about-texas-precious-metals{
		#home-projects ul li a{

		}
	}
}
