body{
	font-family: sans-serif;
	font-size:12px;
}
#loader{display:none;}
#pm-wrapper{ width:100%;}
.sku, .title,.chkbox {float:left; padding-right:15px;line-height:40px;margin-left: 5px;}
.sku{width:7%;}
.title{width:35%;}
.chkbox {padding-top: 7px;}
.prices{width:100%;}
.price{float:left;line-height: 40px;}
.wsale{color:red;float: left; padding-left: 10px; font-weight: bold;margin: 12px 0;}
.row{width:100%;border-bottom:#cecece solid 1px;height:40px;}
input[type='text']{border:#cecece solid 1px;margin:3px 0px;font-size:10px; width:50px;}
input[type='checkbox']{line-height:40px;}
.label {display: inline-block;padding: 0 5px;text-align: right;width: 32px;}
h1,h2,h3,h4,h5,h6{text-transform:uppercase;}
button{/*background-color:green; border:0px;color:#fff; float:right;*/}
.w{/*width: 480px;float:right;*/}
/*.gp{color:red;padding:0 2px;width:100px;}*/
.gp {
    color: red;
    left: 42px;
    position: relative;    
    /*left: -46px;
    padding: 0 2px;
    position: relative;
    top: 16px;
    width: 100px;*/
}
.btn {
  background: #94ac32;
  background-image: -webkit-linear-gradient(top, #94ac32, #a8cc19);
  background-image: -moz-linear-gradient(top, #94ac32, #a8cc19);
  background-image: -ms-linear-gradient(top, #94ac32, #a8cc19);
  background-image: -o-linear-gradient(top, #94ac32, #a8cc19);
  background-image: linear-gradient(to bottom, #94ac32, #a8cc19);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  padding: 2px 25px;
  text-decoration: none;
  cursor:pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.odd {
    background-color: #fff;
    /*line-height:40px;*/
}

.even{
    background-color: #eee;
    /*line-height:40px;*/    
    padding-top:2px;
}
.hiderow{
    display:none;
}
.showrow{
    display:block;
}

input[type='submit'], button{
    margin:10px 0;
}
#hideselected{
    display:none;
}
.hiddensku{
    cursor: pointer;
}