.sss {
    height: 0;
    margin: 0; 
    padding: 0;
    position: relative;
    display: block;
    overflow: hidden;
    font-size:22px;
}

.ssslide {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    color:#fff;
    
}

.ssslide img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding: 0;
    position: relative;
    display: block;
}

.sssnext, .sssprev {
    width: 25px;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    background: url('../Magento_Theme/images/about-us/sprite-arrow.png') no-repeat;
}

.sssprev {
    left: 0%;
    background-position: 0 50%;
}

.sssnext {
    right: 1%;
    background-position: -37px 50%;
}

.sssprev:hover, .sssnext:hover {
    cursor: pointer;
}
.testim-white .author p {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-align: right;
}
.testim-white .testimonial {
    color: #fff;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    line-height: 170%;
    text-align: center;
}
.testimonail-wrapper{ height:100%; opacity:0.46; background-color:#000;}
.right-image-parallex-aboutus-1{ 
float:right;
min-height:300px;
min-width:300px;
background:url(../Magento_Theme/images/about-us/wire_basket.jpg);
background-size:cover;}
.right-image-parallex-aboutus-2{ 
float:right;
min-height:300px;
min-width:300px;
background:url(../Magento_Theme/images/about-us/mysterious_cart.jpg);
background-size: contain;
background-repeat: no-repeat;
background-position: right;}
.right-image-parallex-aboutus-3{ 
float:right;
min-height:300px;
min-width:300px;
background:url(../Magento_Theme/images/about-us/newspaper_stand.jpg);
background-size:cover;}
.right-image-parallex-aboutus-4{ 
float:right;
min-height:300px;
min-width:300px;
background:url(../Magento_Theme/images/about-us/grille.jpg);
background-size:cover;}

.white-section{ background:#FFF !important; overflow: hidden;}
.inner-content-aboutus{ margin: 0 auto; padding:38px 0 30px 27px; width:90%; text-align:justify}
.video-section{ min-height:350px;
 background-image: url(../Magento_Theme/images/about-us/MattOpeningVault.jpg); opacity:0.5; width:100%; text-align:center; opacity:0.5; font-size:57px;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; 
        background-repeat:no-repeat;
        background-size:cover;
                background-position: center;
 }
  .video-section a { color:#D75722}
   .video-section a span{ color:#fff}
   
   /* section -7 styles*/
   #home-projects {
    min-height: 100%;
    position: relative;
    overflow:hidden;
}
#home-projects .backgrounds, #home-projects .backgrounds div, #home-projects ul {
 /*   left: 0;
    position: absolute;
    top: 0;*/
}
#home-projects .backgrounds {
    height: 100%;
/*    position: fixed;*/
    width: 100%;
    z-index: 1;
}
#home-projects .backgrounds div {
    background-position: center center;
    background-size: cover;
    height: 100%;
    opacity: 0;
    width: 100%;
}
#home-projects .backgrounds div.active {
    opacity: 1;
}
#home-projects .rench-hand_1 {
    background-image: url("../Magento_Theme/images/about-us/ranch-hand-background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
@media only screen and (max-width: 479px) {
/*#home-projects .rench-hand_1 {
    background-image: none;
}*/
}
#home-projects .kaspar-wire-work_1 {
    background-image: url("../Magento_Theme/images/about-us/kaspar-manufacturing.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#home-projects .kaspar-companies_1 {
    background-image: url("../Magento_Theme/images/about-us/Kaspar-companies.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

    
@media only screen and (max-width: 479px) {
/*#home-projects  .kaspar-wire-work_1 {
    background-image: none;
}*/
}
#home-projects .truck-fitters_1 {
    background-image: url("../Magento_Theme/images/about-us/truckfitter.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
@media only screen and (max-width: 479px) {
/*#home-projects .truck-fitters_1 {
    background-image: none;
}*/
}
#home-projects .bed-rock_1 {
    background-image: url("../Magento_Theme/images/about-us/bedrock.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
        background-position: center center;
}
@media only screen and (max-width: 479px) {
/*#home-projects .bed-rock_1 {
    background-image: none;
}*/
}
#home-projects .silver-homes_1 {
    background-image: url("../Magento_Theme/images/about-us/silverback.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
#home-projects .horizon-firearams_1 {
    background-image: url("../Magento_Theme/images/about-us/horizon-menu.jpg");
    background-repeat:no-repeat;
    background-size:cover;  
}
#home-projects .rhijnspoorgebouw {
    background-image: url("https://d37k5ijshdq7i4.cloudfront.net/assets/homepage/backgrounds/blur/Rhijnspoorgebouw_INTERIOR_FINAL-1718-30-05-16bb20c0017e88f16b3cb6745de323ef.jpg");
}
@media only screen and (max-width: 479px) {
#home-projects .backgrounds div.rhijnspoorgebouw {
    background-image: none;
}
}
#home-projects .backgrounds div.willemswerf {
    background-image: url("https://d37k5ijshdq7i4.cloudfront.net/assets/homepage/backgrounds/blur/Willemswerf_LuxuryLounge-1941-30-05-17b7228eedb4494264bcf7c3a2967bad.jpg");
}
@media only screen and (max-width: 479px) {
#home-projects .backgrounds div.willemswerf {
    background-image: none;
}
}
#home-projects .backgrounds div.herengracht {
    background-image: url("https://d37k5ijshdq7i4.cloudfront.net/assets/homepage/backgrounds/videostills/still-hg-1920x1080-30-05-cf816e287f1ced933fed1c1b871f6da0.jpg");
}
@media only screen and (max-width: 479px) {
#home-projects .backgrounds div.herengracht {
    background-image: none;
}
}
#home-projects .backgrounds div.the-fan-bridge {
    background-image: url("https://d37k5ijshdq7i4.cloudfront.net/assets/homepage/backgrounds/blur/The-Fan-Bridge_Evening-view-1440-25-05-c4f756201f9bf23f304b2cd08c66912c.jpg");
}
@media only screen and (max-width: 479px) {
#home-projects .backgrounds div.the-fan-bridge {
    background-image: none;
}
}
#home-projects .backgrounds div.dmc-the-hague {
    background-image: url("https://d37k5ijshdq7i4.cloudfront.net/assets/homepage/backgrounds/blur/DMC_View-from-square-southwest-1440-30-05-0d92e5c001e2de44d290ab93fc830a34.jpg");
}
@media only screen and (max-width: 479px) {
#home-projects .backgrounds div.dmc-the-hague {
    background-image: none;
}
}
#home-projects ul {
    font-size: 4.625em;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 3;
}
#home-projects ul li {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    overflow: hidden;
    width: 100%;
}
#home-projects ul li:last-child {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#home-projects ul a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: white;
    display: block;
    overflow: hidden;
    padding:0.900em 0 1.3em 4%;
    text-decoration: none;
}
#home-projects ul a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 479px) {
#home-projects ul a:hover {
    background: none repeat scroll 0 0 black;
}
#bgvid{display:none;} 
}
#home-projects ul a:hover span.meta {
    opacity: 1;

    transform: translate3d(0px, 0px, 0px);
}
#home-projects ul a:hover span.title {
    transform: translate3d(5%, 0px, 0px);
}
#home-projects ul a:hover img {
    opacity: 0.64;
   /* right: 4%;*/
    transform: translate3d(0px, 0px, 0px);
}
#home-projects ul span {
    float: left;
}
#home-projects ul span.meta {
    font-size: 0.208em;
    opacity: 0;
    padding-top: 1.667em;
    position: relative;
    transform: translate3d(-8%, 0px, 0px);
    width: 13.333em;
}
#home-projects ul span.meta.five-lines {
    margin-top: -1em;
}
#home-projects ul span.meta span.date {
    font-style: italic;
    opacity: 0.6;
}
#home-projects ul span.title {
    font-weight: 200;
    left: 0;
    margin: 0 20%;
    position: absolute;
    text-transform: uppercase;
    transform: translate3d(0%, 0px, 0px);
    width: 60%;
    font-size: 57px;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#home-projects ul span.title {
    margin: 0 0 0 20%;
    width: 60%;
}
.right-image-parallex-aboutus-1,
.right-image-parallex-aboutus-2,
.right-image-parallex-aboutus-3,
.right-image-parallex-aboutus-4{ display:none}
.small-screens{ display:none !important;}
.small-screens-aboutus{display:block}
.mobile-version{ display:block; clear:both}
.large-screen-version{ display:none;}
.equal{ display:block !important; background:#d9ad70}
.intro_sis_1{ position: relative !important; display:block !important }
.foto.intro_foto{background:url("../Magento_Theme/images/sister-cities/building_1.png") !important ; overflow:auto; height:100% }
.foto.foto-3{background:url("../Magento_Theme/images/sister-cities/British_T-class_destroyer_1945-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-4{background:url("../Magento_Theme/images/sister-cities/u-2-flight-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-5{background:url("../Magento_Theme/images/sister-cities/Jack-up-rigin-the-caspian-sea-1-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-6{background:url("../Magento_Theme/images/sister-cities/building_2.png") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.coin-section {
    padding: 66px 20px;
}
.coin-section-bottom{
    color: #fff;
    padding: 33px 20px;
    }
    .mobile-version .inner-content-aboutus{ padding:38px 0px !important}
    .coin-section-bottom > h1{ color:#fff;}
.left-section-1, .right-section-1{ width:100% !important}
.phone-skype{ font-size:24px !important;}
.section-4-box{ width:100% !important;}
.foto-2 h2{ padding-top:2% !important; padding-bottom:2% !important}
.sss{ font-size:16px !important}
.right-image-parallex-aboutus-1{/* display:none*/}
.intro_sis .title-section-1,.intro_sis_1 .title-section-1{ color:#fff; font-size:62px ; display:flex; vertical-align:middle; font-family:Mavenpro;}
.coin_section_1{background:url('../Magento_Theme/images/sister-cities/Reverse-SisterCities.png');  background-repeat:no-repeat !important; background-size: cover; min-height:510px; min-width:510px;}
.coin_section_7{background:url('../Magento_Theme/images/sister-cities/Obverse-SisterCities.png');  background-repeat:no-repeat !important; background-size: contain; min-height:320px; min-width:320px;}
.left-section-1, .right-section-1{ 
    display: flex;
    align-items: center;
    justify-content: center;
/*  min-height:510px;*/
        width:48%;
        float:left;
 display: -webkit-box;
    display: moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
      display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
    -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content:center;
    }
.intro_sis .title-section-1,.intro_sis_1 .title-section-1{ font-size:20px !important;}
.coin_section_1{min-height:150px !important; min-width:150px !important}

.section_2{ width:94% !important;}
.left-section-1, .right-section-1{ min-height:169px !important}
/*.fp-section{ margin-top:111px;}*/
.sister-cities-title{ font-size:20px !important;}
.white-color-sister-cities{ font-size:12px !important;}

#bgvid{display:none}
.section-2-responsive{width:100%}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
#home-projects ul span.title {
    margin: 0 0 0 16%;
    width: 74%;
}
.small-screens{ display:none !important;}

.little-box{ height: 50% !important }
section.module.parallax-4{ background-size: contain !important;}
}
@media only screen and (min-width: 1025px) and (max-width: 1419px) {
#home-projects ul span.title {
    margin: 0 0 0 16%;
    width: 74%;
}
.small-screens{ display:none !important;}
/*.zoom-small-image img{ width:70% !important;}*/
}
#home-projects ul img {
 /*   margin-top: 0.361em;*/
    opacity: 0;
    position: absolute;
    right: 4%;
    /*top:6%;*/
    transform: translate3d(-150%, 0px, 0px);
}
#home-projects .no-hover a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
#home-projects .no-hover a:hover span.meta {
    opacity: 0;
    transform: translate3d(-8%, 0px, 0px);
}
#home-projects .no-hover a:hover span.title {
    transform: translate3d(0%, 0px, 0px);
}
#home-projects .no-hover a:hover img {
    opacity: 0;
    right: 4%;
    transform: translate3d(-150%, 0px, 0px);
}
html.touch #home-projects .backgrounds div {
    display: none;
}
html.touch #home-projects ul li a span.meta {
    left: 0;
    opacity: 1;
}
html.touch #home-projects ul li a img {
    opacity: 1;
    right: 4%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .sliderleft-selltous .fullwidthbanner-container,
    .sliderleft-selltous .fullwidthbanner-container .fullwidthabanner{ height: 100% !important;}
    .become-adealer-page .fullwidthbanner-container,
    .become-adealer-page .fullwidthbanner-container .fullwidthbanner{height: 100% !important;}
#home-projects ul li a {
    padding-bottom: 0.8em;
    padding-top: 0.8em;
}
#home-projects ul li span.title {
    font-size: 0.7em;
}
#home-projects ul li span.meta {
    top: -0.6em;
}
#home-projects ul li img {
    margin-top: 0.2em;
}
/*.zoom-small-image img{ width:92% !important;}*/

#aboutus_video{ height: 100%; width: 100%;}
#bgvid{width:100%;}

.title-selltous{ font-size:25px !important;}
.title-selltous-small{ font-size: 27px !important;}
.heightFix{ height:0px !important;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
#home-projects ul li a {
  /*  padding-bottom: 0.2em;
    padding-top: 0.6em;*/
    margin:auto;
}
.foto.intro_foto_sis{background:url("../Magento_Theme/images/sister-cities/SistercitiesVideo-small.jpg") !important ; overflow:auto; height:100% ; min-height:360px;}
#home-projects ul li span.title {
    font-size: 0.45em;
}
#home-projects ul li span.meta {
    font-size: 0.2em;
    top: -1.6em;
}
#home-projects ul li span.meta span {
    font-size: 0.8em;
}
#home-projects ul li img {
    display: none;
}
.not-fullscreen .content-a span{text-align: center !important;}
.contact-section-storage{ margin-bottom: 40px;}
.custom-outer-cms h2 { font-size: 18px;}
/*.zoom-small-image img{ width:92% !important;}*/
}
@media only screen and (max-width: 479px) {
.right-image-parallex-aboutus-1,
.right-image-parallex-aboutus-2,
.right-image-parallex-aboutus-3,
.right-image-parallex-aboutus-4
{ display:none}
.small-screens-aboutus{display:block}
.equal{ display:block !important; background:#d9ad70}
.intro_sis_1{ position: relative !important; display:block !important }
.foto.intro_foto_sis{background:url("../Magento_Theme/images/sister-cities/SistercitiesVideo-small.jpg") !important ; overflow:auto; height:100% ; min-height:360px;}
.foto.foto-3{background:url("../Magento_Theme/images/sister-cities/British_T-class_destroyer_1945-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-4{background:url("../Magento_Theme/images/sister-cities/u-2-flight-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-5{background:url("../Magento_Theme/images/sister-cities/Jack-up-rigin-the-caspian-sea-1-small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.foto.foto-6{background:url("../Magento_Theme/images/sister-cities/PerthMintBuilding_small.jpg") !important ; overflow:auto; height:100%; background-size:cover !important; background-position:center !important; }
.coin-section {
    padding: 66px 20px;
}
.coin-section-bottom{
    color: #fff;
    padding: 33px 20px;
    }
    .mobile-version .inner-content-aboutus{ padding:38px 0px !important}
    .coin-section-bottom > h1{ color:#fff;}
.left-section-1, .right-section-1{ width:100% !important}
.right-area-section{ display:none; }
.phone-skype{ font-size:24px !important;}
.section-4-box{ width:100% !important;}
.foto-2 h2{ padding-top:2% !important; padding-bottom:2% !important}
.sss{ font-size:16px !important}
.right-image-parallex-aboutus-1{/* display:none*/}
.over .icon-TexasWords{ font-size:300% !important}
#home-projects ul li a {
    height: 2em;
    line-height: 60px !important;
    padding-bottom: 0;
    padding-top: 0.4em;

}
#home-projects ul li span.title {
    font-size: 0.37em;
    font-weight: 300;
    margin: 0 8% !important;
    width: auto;
}
#home-projects ul li span.meta, #home-projects ul li img {
    display: none;
}
.mobile-version{ display:block;}
.large-screen-version{ display:none;}
#fp-nav{ display:none;}
.middle-content-storagepage{padding:0px 10px !important;}
.custom-outer-cms p{font-size:12px !important;}
.custom-outer-cms h2{font-size:13px !important;}
.responsive-section-3-left{ width:100% !important;}
.responsive-section-3-right{width:100% !important}
.imgcoin-storage,.imgcoin-storage-award{left:0px !important;max-width:300px !important; position: relative !important;}
.fullscreen .accordion-faq .panel-heading a{ font-size:12px !important;}
.normal-version{display:none;}
/*.section-2-responsive{width:100% !important;}*/
.cell-phone-storage-page{ max-width:280px !important}
.imgbuilding{ max-width:270px !important;}
.content-a ul li{font-size:12px;}
.not-fullscreen .content-a span{font-size:12px !important;}
.contact-no-skype{font-size:19px !important;}
.howtoorder-page .title{ margin-top:36%; background-color:#fff; }
.first-section-storage .heading-storage-page{ font-size:33px !important;}
.become-adealer-page .title-selltous{ font-size: 26px;}
.fieldset-4 h2{font-size:21px !important;}
}

@media only screen and (min-width: 768px) {
    .small-screens{ display:none !important ;}
    .ssslide{ padding:0px 60px !important; }
        .mobile-version-storage-page{display:none;}
        .contact-section-storage div{width:100%; text-align: right;}
        .full-width.col-sm-8.col-lg-8.col-xs-8 {width:66.6667% !important;}
        .small-screens-aboutus{display:none}
        .large-screens-storage-page{ display:block;}
        .small-screens-storage-page{ display:none;}
        .leftsection-become-dealer{ width:50%;}
        .tradmark-icons{overflow: auto;}
        .doing-bussiness1{font-size:38px;}
        .doing-bussiness2{ font-size:19px;}
        .doing-business-tradmark {
                padding: 15px 0;
             }
        
    }
@media only screen and (max-width: 767px) {
.small-screens{ display:block ;}
.large-screens{ display:none !important}
.inner-content-aboutus{ padding:25px 0px !important; }
.right-image-parallex-aboutus-1{ display:none;}
.ssslide{ padding:0px 25px !important; }
.padding-div-aboutus{ padding:20px;}
.middle-content-storagepage{padding: 0px 10px;}
.custom-outer-cms p{font-size:12px !important;}
.custom-outer-cms h2{font-size:13px !important;}
.responsive-section-3-left{ width:100% !important;}
.responsive-section-3-right{width:100% !important}
.imgcoin-storage,.imgcoin-storage-award{left:0px !important;max-width:300px !important; position: relative !important;}
.fullscreen .accordion-faq .panel-heading a{ font-size:12px !important;}
.normal-version{display:none;}
/*.section-2-responsive{width:100% !important;}*/
.cell-phone-storage-page{ max-width:100% !important}
.imgbuilding{ max-width:100% !important;}
.content-a ul li{font-size:12px;}
.not-fullscreen .content-a span{font-size:12px !important;}
.contact-no-skype{font-size:19px !important;}
.middleImages{margin:0 auto; width: 100% ;}
.mobile-version-storage-page{display:block}
.responsive-section-3-right{clear:both}
 #video_container{background: url(../Magento_Theme/images/storage-page/storage-page-section1.jpg) no-repeat;}
.section-2-responsive{ width: 100% !important;}
.info-contact-us{text-align:center;}
.full-width.col-sm-8.col-lg-8.col-xs-8 {width:100% !important;}
#video_container{top:-28px !important;}
.sliderleft-selltous{display:none;}
.sell-to-us-page{ width: 100% !important;}
section.module.parallax-4{ background-size: contain !important;}
.large-screens-storage-page{ display:none;}
.small-screens-storage-page{ display:block;}
.center-content-page{display:block !important; margin-bottom: 10% !important;}
 .round-section-ira {margin-bottom: 10% !important;}
 .become-adealer-page{ width: 100% !important;}
 .sliderright-dealerpage{display:none;}
.leftsection-become-dealer{ width:100%;}
.middleImage-1{max-width:100%; width: auto; height:auto; position: absolute; bottom:0;right:0;}
#topheader-message-outer{top:100px;}
 .cms-tradmark{overflow: visible !important;}
 .doing-bussiness1{font-size:25px;}
 .doing-bussiness2{ font-size:14px;}
 .doing-business-tradmark {
    padding: 40px 0;
 }
 
}
@media only screen and (min-height:1200px){
    .wrapper-top-div {    
/*    height: 100% !important ;*/
 }
}
@media all  and (max-width:980px){
#bgvid{position:absolute;}
}
@media all  and (min-width:981px){
#bgvid{/*position:absolute;*/}
.chromeFixes{width: 100%;}
}


@media all and (min-width: 640px) and (max-width: 767px) {
    #video_container{float:left;}
}
@media only screen and (min-height:900px) and (max-height:1199px){
    .wrapper-top-div {    
/*    height: 60% !important ;*/
 }
}
@media all and (min-width: 992px) {
    .navbar-height{height:0px !important;}
   
}
@media all and (min-width: 1025px) and (max-width:1800px) {
   
   .sliderleft-selltous .fullwidthbanner-container,.sliderleft-selltous .fullwidthbanner-container .fullwidthabanner{ height: 100% !important; max-height: none !important}
}

html.lt-ie10 #home-projects ul span.meta span.date {
    padding-right: 1em;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  //.ipad-portrait { color: red; } /* your css rules for ipad portrait */
  #bgvid{ /*height:auto !important; width:100% !important;*/}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .ipad-landscape { color: blue; } /* your css rules for ipad landscape */
}
@media only screen and (min-width: 768px) and (max-width:850px) {
    .little-box p{font-size: 11px !important;}
    .outer-equal-box-2.r4x3{ padding-top: 88% !important;}
    .round-section-ira {
                       max-height: 220px !important;
                       max-width: 220px !important;
                       min-height: 220px !important;
                       padding: 27px 38px !important;
                       
                        }
      .round-section-ira p {font-size: 13px !important;}
}
@media only screen and (min-width: 851px) and (max-width:950px) {
    .little-box p{font-size: 12px !important;}
     .outer-equal-box-2.r4x3{ padding-top: 88% !important;}
    
}
@media only screen and (min-width: 951px) and (max-width:1150px) {
    .little-box p{font-size: 13px !important;}
    
    
}
@media only screen and (min-width: 921px) and (max-width:1030px) {
   // #storagePageVideo{height:auto !important;}
    #storagePageVideo{
      //  height: auto !important;
   }
}
@media only screen and (min-width: 1226px) {
   // #storagePageVideo{height:auto !important;}
     #storagePageVideo{
/*        height: auto !important;*/
   }
}
#home-video a {
    transition: background 0.2s ease-in-out 0s;
}
#home-projects .backgrounds div {
    transition: opacity 0.5s ease-in-out 0s;
}
#home-projects ul a {
    transition: padding 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    min-height:120px;
}
#home-projects span.meta {
    transition: opacity 0.35s ease-in-out 0s, transform 0.35s ease-in-out 0s;
}
#home-projects span.title {
    transition: transform 0.25s ease-in-out 0s;
}
#home-projects img {
    transition: opacity 0.35s ease-in-out 0s, transform 0.35s ease-in-out 0s;
}
.left-area-section{ background:#000; min-height:500px; margin-bottom:2%;}
.right-area-section{/* background:#000;*/}
.left-area-section .logo-div{ padding-top:20%;}
.phone-skype {
    color: #fff;
    float: left;
    font-size: 25px;
    margin-top: 26%;
    text-align: center;
    width: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
 
.pic {
 /* border: 10px solid #fff;  
  float: left;*/
  height: 550px;
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
 /*   -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;*/  
          text-align:center;
                
}
/*GROW*/
.grow img {
  height: 618px;
  width: 511px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 700px;
  height: 720px;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.wrapper {
    width: 680px;
    margin: 50px auto 100px;
}
// .main, .sidebar {
//  float: left;
//  padding: 20px;
// }
// .main {
//  width: 400px;
//  background-color: LightSlateGrey;
// }
.sidebar {
    width: 200px;
    background-color: Tomato;
}

.faux .container {
    background-color: Tomato;
}
.faux .sidebar {
    background-color: inherit;
}

.table .container {
    display: table;
}
.table .main {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.table .sidebar {
    float: none;
    display: table-cell;
}
.heading-image-1{ font-size:20px !important}
.heading-image-2{ text-transform:uppercase; margin:0 auto; font-size:19px; border:1px solid #fff; text-align:center; color:#fff; padding:0px;/* width:40%; */}
.author-rating img{ width:37%;}
.newbg{ background-color:#000; margin-bottom:23px;}
.last-section-storage-page{margin-bottom: 40px !important;}
.white-section .forcefullwidth_wrapper_tp_banner{margin-top: 0px !important; margin-bottom: 0px !important;}
.bloque .fullwidthbanner-container .bullet.selected{background: #E08F66 !important;}
.aboutus-photo4{ height:880px !important;}
.aboutus-photo5 {
    height: 600px !important;
}
.small-screens-aboutus .over{padding:6em 0;}
#footer_darkened{clear:both;}


//full screen video

.masthead {
    position: relative;
    min-width: 720px;
}
.masthead-video {
    z-index: 0;
   background:transparent url('../Magento_Theme/images/storage-page/VaultDoor.png') no-repeat 0 0; 
   -webkit-background-size:cover; 
   -moz-background-size:cover; 
   -o-background-size:cover; 
   background-size:cover; 

}
.masthead-overlay {
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}
.masthead-video-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    opacity: 0.5;
    font-family: 'HelveticaNeue-Light', helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 0.04em;
    font-size: 12px;
    padding-right: 10px;
    bottom: 10px;
    text-decoration: none;
    text-align: right;
    line-height: 1.5;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.masthead-video-credit span {
    display: block;
}
.masthead-video-credit:hover {
    opacity: 0.7;
}
.masthead-arrow {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0.4;
}


audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}
.last-section-margin{margin-bottom:30px !important;}
.ipadFixes{ width:100% !important;}
//sell to us page styles

  /* Parallax base styles
  --------------------------------------------- */

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  /* Debugger styles - used to show the effect
  --------------------------------------------- */

  .parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }


  /* demo styles
  --------------------------------------------- */

    .sell-to-us-page .parallax {
    font-size: 200%;
     min-height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    border-bottom: 1px solid #ccc;
  }

   /* centre the content in the parallax layers */
  #home-projects .title {
/*    text-align: center;*/
    position: absolute;
    left: 50%;
/*    top: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
    width:90%;
  }

  .sell-to-us-page .title {
/*    text-align: center;*/
    position: absolute;
    left: 50%;
  top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:90%;
  }
.howtoorder-page .title {
/*    text-align: center;*/
    position: absolute;
    left: 50%;
  top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:100%;
  }

  /* style the groups
  --------------------------------------------- */

  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
/*    background: rgb(102,204,102);*/
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
/*    background: rgb(123,210,102);*/
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
/*    background: rgb(153,216,101);*/
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
/*    background: rgb(184,223,101);*/
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
/*    background: rgb(214,229,100);*/
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
/*    background: rgb(245,235,100);*/
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
/*    background: rgb(255,241,100);*/
  }
 .sliderleft-selltous{
position: fixed;
top:0px;
bottom: 0px;
width:50%;
/*background: #ccc;*/
z-index: -1;
  }
  .title-selltous {
    color: #CC4C25;
    font-size: 32px;
    text-align: center;
    margin: 50px 0px;
}
.title-selltous-small{
    color: #CC4C25;
    font-size: 30px;
    text-align: center;
    margin: 50px 0px;
    text-transform: capitalize;
}
.section1-selltous-text {
    position: absolute;
    bottom: 52px;
    text-align: center;
    width: 100%;
}
.arrowdown-black {
    background: url("../Magento_Theme/images/thin1.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    margin: 0 auto;
    width: 32px;
    background-repeat: no-repeat;
    margin-top: 35px;
}
.color-text-selltous {
    color: #DA895C;
}
.textwraper-selltous-text{}
.textwraper-selltous-text table tr >td  {font-size:13px;border:2px solid #DA895C}
.textwraper-selltous-text table tr >th {font-size:13px;border:2px solid #DA895C; text-transform: uppercase;}
.uppercase-selltous{text-transform: uppercase;}
.last-selltous-section{margin-top:152px;}
.sell-to-us-page{ width: 50%;float:right; 
                  min-height: 500px; /* fallback for older browsers */
/*                  height: 100vh;*/
                  overflow-x: hidden;
                  overflow-y: auto;
/*                  padding:0px 55px;*/
                    }
 .sell-to-us-page .row{ padding:0px 55px;}
    .still-have-question-section {
    margin: 100px 0;
    text-align: center;
    width: 100%;
}
.row2-stillhave-question {
    font-size: 16px;
}
.row1-stillhave-question {
    font-size: 18px;
    text-transform: uppercase;
}
.sliderleft-selltous .fullwidthbanner-container,
.sliderleft-selltous .fullwidthbanner-container .fullwidthabanner
{ height: 100% !important;max-height:none !important;}
 .become-adealer-page .fullwidthbanner-container{height: 100% !important;max-height:none !important;}
 .become-adealer-page .fullwidthabanner {height: 100% !important;max-height:none !important;}
 
.table-selltous tr,.table-selltous td,.table-selltous th {padding:12px;}
.table-selltous {
    margin: 35px 0;
}
.textwraper-selltous-text > p {
    padding-bottom: 30px !important;
}
#link-selltous-section-2 {
    padding-top: 25px;
}
.sell-to-us-page .table-responsive{ border:none !important;}
.howtoorder-page .parallax{ height: 73vh; background-color: #fff !important; position: relative;}
.money-icon{ background:url(../Magento_Theme/images/how-to-order/money-icon.png); min-height: 200px; min-width:200px; background-size: contain;top:100px; background-repeat: no-repeat;background-position: center;}
.shipping-icon{background:url(../Magento_Theme/images/how-to-order/10301-box-opened-icon.png); min-height: 200px; min-width:200px; background-size: contain;top:25px; background-repeat: no-repeat;background-position: center;}
.clipboard-icon{background:url(../Magento_Theme/images/how-to-order/chart.png); min-height: 200px; min-width:200px; background-size: contain;top:70px; background-repeat: no-repeat;background-position: center;}
.ouroperation-icon{background:url(../Magento_Theme/images/how-to-order/operations-icon.png); min-height: 200px; min-width:200px; background-size: contain;top:143px; background-repeat: no-repeat;background-position: center;}
.table-payment-chart td{
    border: 1px solid #BFC0C1;
    font-size: 11px;
    padding: 10px;
    text-transform: uppercase;
}
.table-payment-chart tr{
/*    padding: 10px;
    text-transform: uppercase;*/
}
.table-payment-chart th{ 
    background-color: #c40;
    border: 1px solid #BFC0C1;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size:11px;}
.table-payment-chart{margin-top:80px;}
.cms-payment-methods .table-payment-chart{margin-top:0}
.cms-payment-methods table{width: 0}
.round-circle-sellback{ 
    border-radius: 50%;
    margin: 0 auto;
    min-height: 300px;
    text-align: center;
    width: 300px;
    padding:50px 35px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.round-circle-sellback h2{
    font-size:17px !important;
}
.round-circle-sellback p{
    font-size:14px !important;
}
/* IRA Rolovers page*/
.iratopsection{
background: url('../Magento_Theme/images/ira-rollover/ira-rollover-header.jpg');
width:100%;
min-height: 400px;
background-size:cover;
}


.ira-center-content{
    display: flex;
    align-items: center;
    justify-content: center;
/*  min-height:510px;*/
        
        float:left;
 display: -webkit-box;
    display: moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
      display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
    -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content:center;
  width:100%;
  min-height:400px;
}
 .iratopsection h1{
color: #fff;
font-size: 5em;
font-weight: bold;
}
.wrapper-irarollover{
       padding:40px 50px 10px 50px;
}
.wrapper-irarollover h2 { text-transform: uppercase;text-align: center; font-size: 18px;}
.wrapper-irarollover p {font-size: 16px; padding-bottom: 25px;}
.round-section-ira{padding:50px 40px;
                  max-height:270px;max-width:270px;
                  margin-bottom:5%;
                  background-color: #E88850; border-radius: 50%;
                  min-height: 270px;
                  transition: all .2s ease-in-out;
                  cursor: pointer;
                  display:inline-block;
}
.round-section-ira:hover { transform: scale(1.1);-webkit-transform:scale(1.1) }

.center-content-page{
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    display: -webkit-box;
    display: moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    width:100%;
    margin:50px 0px;
  
}
.circle-title{ padding-bottom:20px;color:#fff; text-transform: uppercase; text-align: center;line-height: 22px; font-size:18px;
}
.round-section-ira p { color:#fff;text-align:center; font-size: 16px;}
.center-content-page .col-sm-4{ text-align: center;}
.mobile-center-content{
    
}
.how-to-order-wrapper p{ font-size:14px !important;}
.cms-irarollover table {color:#000;}
.cms-irarollover table th {text-transform: uppercase; background: #7F7F7F; vertical-align: middle !important; height:50px; text-align: center; font-size:20px; color:#fff;}
.cms-irarollover .table-bordered, .cms-irarollover .table-bordered > tbody > tr > td, .cms-irarollover .table-bordered > tbody > tr > th, .cms-irarollover .table-bordered > tfoot > tr > td, .cms-irarollover .table-bordered > tfoot > tr > th,.cms-irarollover .table-bordered > thead > tr > td, .cms-irarollover .table-bordered > thead > tr > th{
    border:1px solid #7F7F7F;
}
.table-top-heading-ira{font-size:24px !important;}

/*become a dealer page */

.sliderright-dealerpage {
     bottom: 0;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 1;
    right:0px;
    }
.leftsection-become-dealer {
    float: left;
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding:2% 4%;
}

.become-adealer-page .parallax {
    border-bottom: 1px solid #ccc;
    font-size: 200%;
    height: 100vh;
    min-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}
.become-adealer-page p{ font-size: 14px !important;}
.become-adealer-page ul {
list-style-type: disc;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
line-height: 21px;
}
.downloadsection-becomedealer{margin:30px 0px; }
.fieldset-4 h2{
    color: #cc4c25;
    font-size: 24px !important;
    margin: 50px 0;
    text-align: center;
}
.fieldset-5 h2,.fieldset-6 h2,.fieldset-7 h2,.fieldset-8 h2, .fieldset-9 h2{
     font-size: 16px !important;
     text-transform: none !important;
 
}
.firstul-becomedealer{ padding-left:27px !important;}
.become-adealer-page label{ padding-top: 6px;}
.become-adealer-page label.required em{ padding-top: 5px;}
.highlight .webforms-calendar input, .webforms-calendar input{ background-position: 99% 8px !important;}
.dealerpage-image-center{margin:0 auto;}
.terms-condition-dealer-form{ width:90%; float:right;}
#field_35 .input.checkbox{ width:5%;float:left;}
#field_37 .input.checkbox{ width:5%;float:left;}
/*#field_37 label{ width:90%; float:right;}*/
/*.middleImage-1{max-width:450px; min-width: 216px;}*/
.middleImage-1{max-width:100%; width: auto; height:auto; position: absolute; bottom:0;right:0;}
#topheader-message-outer {
     position: absolute;
    width: 100%;
    z-index: 7;
}
#topheader-message {
    background-color: #e08f66;
    height: auto;
    padding: 2px 0px;
}
#topheader-message p {font-size:16px; padding: 0px !important; }
.wrapper-irarollover td { font-size: 16px; color:#333;}

/*Trade mark page*/
.tradamark-center-content {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    /*float: left;*/
    justify-content: center;
    min-height: 300px;
    width: 100%;
    display: -webkit-box;
    display: moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
/*    display: -moz-box;*/
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
     -webkit-justify-content:center;
   
}
.tradamark-center-content h1{ color:#fff; text-align: center;}
.tradmarktopsection {
    background: radial-gradient(ellipse at center center , #CC4400 73%, #cc4400 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 300px;
    width: 100%;
}
.wrapper-tradmark {
    padding: 50px;
}
.tradmark-logo{ 
    background:url(../Magento_Theme/images/trade-mark/Texas-Precious-Metals-logo-2.png);
    min-height: 150px;background-size: contain; 
    background-position: center; background-repeat: no-repeat;
    margin: 25px auto 0;
    max-width: 69%;
}
.tradmark-icons p { text-align: center; font-size: 16px;}
.tradmark-download-link a{   
    border: 1px solid #000;
    display: block;
    float: left;
    margin: 30px;
    padding: 6px;
    text-align: center;
    width: 50px;
    color:#000;
    }
.middle-content{margin:0 auto;}
.tradmark-lcon{
    background:url(../Magento_Theme/images/trade-mark/Texas-Precious-Metals-icon-2.png); 
    min-height: 150px; background-size: contain;
    background-position: center; background-repeat: no-repeat;
    margin: 25px auto 0;
    max-width: 69%;
    }
    .tradmark-silver-roundpage{
    background:url(../Magento_Theme/images/trade-mark/2015-TSR-Obverse-2.png); 
    min-height: 150px; background-size: contain;
    background-position: center; background-repeat: no-repeat;
    margin: 25px auto 0;
    max-width: 69%;
    }
    .tradmark-icons { background: #F2F2F2; }
    .tradmark-icons .col-lg-4{ 
        border: 2px solid #fff;
        padding-top: 20px;
        min-height: 340px;
        
    }
    .cms-tradmark{overflow: hidden;}
    .doing-bussiness1 {
              text-transform: uppercase;
}
.doing-bussiness2 {
     text-transform: uppercase;
}
.doing-business-tradmark {
    background: none repeat scroll 0 0 #f2f2f2;
    min-height: 80px;
    text-align: center;
    border-top:1px solid #fff;
}
.wrapper-tradmark h3{
    font-size: 16px;
    color:#D5220B;
    text-transform: uppercase;
}
.wrapper-tradmark p{
    font-size:16px;
    padding:15px 0px;
}
.example-color{ color:#D5220B; font-size:16px;}
.tradmarkcenter-content-page{
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    display: -webkit-box;
    display: moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    width:100%;
    margin:20px 0px;
  
}
@media (min-width : 768px) and (max-width : 1280px){
    .cms-tradmark .col-lg-4{width:33.3333%;}
}
.cms-about-us{margin-bottom:25px;}
.ira-coin-image{background:url('../Magento_Theme/images/ira-rollover/coin-stack.jpg') ;
    background-repeat: no-repeat; 
    min-height: 400px ; 
    width:100%; 
    background-position: center; 
    background-size: contain}
    
    .middleImage-1{max-width:100%; width: auto; height:auto; position: absolute; bottom:0;right:0; top:1%;}
    .list {
    height: 600px !important;
}
@media (min-width : 1200px){
  .heightFix{height:0px;}
}
/*Caymen Island Storage Page*/
.cms-about-us{margin-bottom:25px;}
.ira-coin-image{background:url('../Magento_Theme/images/ira-rollover/coin-stack.jpg') ;background-repeat: no-repeat; min-height: 400px ; width:100%; background-position: center; background-size: contain}

.cms-store-gold-in-caymans .list__item div {
    padding-right: 30px;
}

.cms-store-gold-in-caymans .bulited-list-storage li {
    line-height: 23px !important;
}
.cms-store-gold-in-caymans .list__item h2{
    padding: 0 0 0.1em;
}

.cms-store-gold-in-caymans .storage-page-space p{
  padding-top: 0 !important;
}

.pagetext strong {
    color: #000;
    font-size: 15px;
}
@media (min-width: 360px){
#storagePageVideo {
    position: relative !important;
}
}
.phablet{display:none; padding:0 50px;}

@media (min-width:768px) and (max-width:1150px){
   .cms-store-gold-in-caymans .list__item {max-height:none;}
   .cms-store-gold-in-caymans .list__item > div {padding-bottom: 0px;}
   .phablet{display:block;padding-bottom: 20px;}
   li.swp::before{content:'' !important;}
   li.swp{width:300px !important;}
   .large-screens-storage-page {display:none;}
}
@media (min-width:952px) and (max-width:1150px){
   li.swp{width:400px !important;}
}
@media (min-width:300px) and (max-width:767px){
   .swp_app_mobile{
    display:inline-block;
   }
}

a, a:active, a:focus, a:hover, a:visited{
   // color: #e08f66;
}


/*@media (min-width: 1900px) and (max-width:2560px){
   .middleImage-1{
      max-width: 390px;
   }
}*/

.middleImage-1{
  max-width:500px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
html[data-useragent*='Chrome'] body .middleImage-1 {
  max-width:385px;
  -webkit-transform: scale(1, 1);
}

html[data-useragent*='Safari'] body .middleImage-1 {
  max-width:385px;
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.heightFix {
    height: 0 !important;
}

.#topheader-message p{
  font-size: inherit;
}
